 
@media screen and (min-width: 993px)
{
.navbar-expand-lg .nav-menu>.menu-item>a {
    margin-bottom: 16px;
    color: #232323;
    font-weight: 600;
}
}
.header-two
{
	position:relative !important;
}
body {
 
       font-family: 'Poppins', sans-serif !important;
}
p {
    font-family: 'Poppins', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232323;
    font-family: 'Poppins', sans-serif !important;
}
.post-meta li, .post-tags, .widget li, .widget_tag_cloud .tagcloud a
{
	font-family: 'Poppins', sans-serif !important;
}

@media only screen and (max-width: 600px) {
 .hero-section .img-fluid
{
	display:none;
}
}